{% comment %}
  Product details section - Two-column layout with image on RIGHT side.
{% endcomment %}

<div class="product-details full-width">
  <div class="product-details__container">
    {%- comment -%} Left Column - Content {%- endcomment -%}
    <div class="product-details__content">
      {% if section.settings.heading != blank %}
        <div>
          <h2 class="product-details__heading">{{ section.settings.heading }}</h2>
          <h2 class="product-details__second-heading">{{ section.settings.second_heading }}</h2>
        </div>
      {% endif %}

      {% if section.settings.description != blank %}
        <div class="product-details__description">{{ section.settings.description }}</div>
      {% endif %}

      <div class="product-details__steps">
        <div class="product-details__step">
          <div class="product-details__step-icon">
            <svg
              width="60"
              height="60"
              viewBox="0 0 60 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M28.3584 18.2759C27.8328 18.2759 27.4068 17.8499 27.4068 17.3243V12.0743H17.6796V17.3243C17.6796 17.8499 17.2536 18.2759 16.728 18.2759C16.2024 18.2759 15.7764 17.8499 15.7764 17.3243V11.1227C15.7764 10.5971 16.2024 10.1711 16.728 10.1711H28.3584C28.884 10.1711 29.31 10.5971 29.31 11.1227V17.3243C29.31 17.8499 28.884 18.2759 28.3584 18.2759Z" fill="#3E2027" />
              <path d="M26.0039 12.0744C25.4783 12.0744 25.0523 11.6484 25.0523 11.1228V6.73916H20.0327V11.1228C20.0327 11.6484 19.6067 12.0744 19.0811 12.0744C18.5555 12.0744 18.1295 11.6484 18.1295 11.1228V5.78876C18.1295 5.26316 18.5555 4.83716 19.0811 4.83716H26.0039C26.5295 4.83716 26.9555 5.26316 26.9555 5.78876V11.1228C26.9555 11.6484 26.5295 12.0744 26.0039 12.0744Z" fill="#3E2027" />
              <path d="M32.4528 6.33716C32.0184 6.33716 31.626 6.03836 31.5264 5.59676C31.41 5.08436 31.7304 4.57436 32.2428 4.45796L33.2088 4.23836C33.7212 4.12196 34.2312 4.44236 34.3476 4.95476C34.464 5.46716 34.1436 5.97716 33.6312 6.09356L32.6652 6.31316C32.5944 6.32876 32.5236 6.33716 32.454 6.33716H32.4528Z" fill="#3E2027" />
              <path d="M37.6812 5.14798C37.2468 5.14798 36.8544 4.84918 36.7548 4.40758C36.6384 3.89518 36.9588 3.38518 37.4712 3.26878L39.6024 2.78398C40.1148 2.66758 40.6248 2.98798 40.7412 3.50038C40.8576 4.01278 40.5372 4.52278 40.0248 4.63918L37.8936 5.12398C37.8228 5.13958 37.752 5.14798 37.6824 5.14798H37.6812ZM44.0736 3.69598C43.6392 3.69598 43.2468 3.39718 43.1472 2.95558C43.0308 2.44318 43.3512 1.93318 43.8636 1.81678L45.9948 1.33198C46.5072 1.21558 47.0172 1.53598 47.1336 2.04838C47.25 2.56078 46.9296 3.07078 46.4172 3.18718L44.286 3.67198C44.2152 3.68758 44.1444 3.69598 44.0748 3.69598H44.0736Z" fill="#3E2027" />
              <path d="M50.4672 2.2428C50.0328 2.2428 49.6404 1.944 49.5408 1.5024C49.4244 0.989995 49.7448 0.479995 50.2572 0.363595L51.2232 0.143995C51.7356 0.0275954 52.2456 0.347995 52.362 0.860395C52.4784 1.3728 52.158 1.8828 51.6456 1.9992L50.6796 2.2188C50.6088 2.2344 50.538 2.2428 50.4684 2.2428H50.4672Z" fill="#3E2027" />
              <path d="M33.444 9.79675H32.4528C31.9272 9.79675 31.5012 9.37075 31.5012 8.84515C31.5012 8.31955 31.9272 7.89355 32.4528 7.89355H33.444C33.9696 7.89355 34.3956 8.31955 34.3956 8.84515C34.3956 9.37075 33.9696 9.79675 33.444 9.79675Z" fill="#3E2027" />
              <path d="M46.938 9.79675H44.6892C44.1636 9.79675 43.7376 9.37075 43.7376 8.84515C43.7376 8.31955 44.1636 7.89355 44.6892 7.89355H46.938C47.4636 7.89355 47.8896 8.31955 47.8896 8.84515C47.8896 9.37075 47.4636 9.79675 46.938 9.79675ZM40.1916 9.79675H37.9428C37.4172 9.79675 36.9912 9.37075 36.9912 8.84515C36.9912 8.31955 37.4172 7.89355 37.9428 7.89355H40.1916C40.7172 7.89355 41.1432 8.31955 41.1432 8.84515C41.1432 9.37075 40.7172 9.79675 40.1916 9.79675Z" fill="#3E2027" />
              <path d="M52.4268 9.79675H51.4356C50.91 9.79675 50.484 9.37075 50.484 8.84515C50.484 8.31955 50.91 7.89355 51.4356 7.89355H52.4268C52.9524 7.89355 53.3784 8.31955 53.3784 8.84515C53.3784 9.37075 52.9524 9.79675 52.4268 9.79675Z" fill="#3E2027" />
              <path d="M33.4308 13.4292C33.3756 13.4292 33.3204 13.4244 33.264 13.4148L32.2884 13.242C31.7712 13.1508 31.4256 12.6564 31.5168 12.1392C31.608 11.622 32.1024 11.2764 32.6196 11.3676L33.5952 11.5404C34.1124 11.6316 34.458 12.126 34.3668 12.6432C34.2852 13.104 33.8844 13.4292 33.4308 13.4292Z" fill="#3E2027" />
              <path d="M46.9463 15.8209C46.8911 15.8209 46.8359 15.8161 46.7795 15.8065L44.5271 15.4081C44.0099 15.3169 43.6643 14.8225 43.7555 14.3053C43.8467 13.7881 44.3411 13.4425 44.8583 13.5337L47.1107 13.9321C47.6279 14.0233 47.9735 14.5177 47.8823 15.0349C47.8007 15.4957 47.3999 15.8209 46.9463 15.8209ZM40.1879 14.6257C40.1327 14.6257 40.0775 14.6209 40.0211 14.6113L37.7687 14.2129C37.2515 14.1217 36.9059 13.6273 36.9971 13.1101C37.0883 12.5929 37.5827 12.2473 38.0999 12.3385L40.3523 12.7369C40.8695 12.8281 41.2151 13.3225 41.1239 13.8397C41.0423 14.3005 40.6415 14.6257 40.1879 14.6257Z" fill="#3E2027" />
              <path d="M52.428 16.7917C52.3728 16.7917 52.3176 16.7869 52.2612 16.7773L51.2856 16.6045C50.7684 16.5133 50.4228 16.0189 50.514 15.5017C50.6052 14.9845 51.0996 14.6389 51.6168 14.7301L52.5924 14.9029C53.1096 14.9941 53.4552 15.4885 53.364 16.0057C53.2824 16.4665 52.8816 16.7917 52.428 16.7917Z" fill="#3E2027" />
              <path d="M29.1216 59.8092H15.774C12.8544 59.8092 10.596 58.1904 9.06123 54.9984C7.39323 51.5292 6.58203 46.2732 6.58203 38.928C6.58203 30.258 8.11923 24.0048 11.1504 20.3436C13.6668 17.3028 16.4436 16.9752 17.5212 16.9752C17.6172 16.9752 17.7096 16.9776 17.7936 16.9836C17.8104 16.9836 17.826 16.986 17.8416 16.9872H29.0328C30.7944 16.9872 32.3976 17.7384 33.6696 19.1592C36.1308 21.9096 36.7836 26.376 36.5856 28.1556C36.2772 30.9336 35.3784 32.6892 34.6572 34.1004C34.134 35.124 33.7548 35.8632 33.8196 36.6048C33.8952 37.4712 34.5336 38.3508 35.3412 39.4644C36.7068 41.3472 38.406 43.6896 38.6112 47.5968C38.8404 51.9492 37.6512 55.2624 35.076 57.4416C32.814 59.3556 30.0192 59.8008 29.1216 59.8008H29.1204V59.8092H29.1216ZM17.2068 19.1472C16.506 19.2048 15.1248 19.4988 13.6764 20.814C11.4252 22.8576 8.74203 27.66 8.74203 38.9292C8.74203 45.846 9.50403 50.9376 11.0076 54.0624C12.168 56.4756 13.728 57.6492 15.774 57.6492H29.0976C29.3124 57.6372 32.2668 57.4296 34.3368 55.1628C35.9124 53.4372 36.6252 50.9304 36.4548 47.7108C36.2832 44.4408 34.854 42.4716 33.5928 40.7328C32.6688 39.4584 31.7952 38.2548 31.668 36.792C31.5492 35.4312 32.1252 34.3068 32.7336 33.1164C33.408 31.7976 34.1736 30.3024 34.4388 27.918C34.6044 26.43 33.9504 22.7124 32.0604 20.6004C31.1856 19.6224 30.1956 19.1472 29.0328 19.1472H17.2068Z" fill="#3E2027" />
            </svg>
          </div>
          <p class="product-details__step-label">{{ 'sections.product_details.step_spray' | t }}</p>
        </div>

        <div class="product-details__step">
          <div class="product-details__step-icon">
            <svg
              width="60"
              height="60"
              viewBox="0 0 60 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M3.10466 54.0231C2.90641 54.0231 2.69871 53.957 2.52878 53.8247C2.11339 53.5035 2.03786 52.9083 2.35885 52.502L14.037 37.3859C13.6499 36.0255 13.0363 32.2937 15.5852 26.5401C16.0478 25.5009 16.5954 22.0903 16.7748 20.8716C17.1618 19.0293 18.8045 17.8295 20.6171 18.0184L20.9476 18.0562C22.8357 18.2452 24.2329 19.8796 24.1291 21.7786L24.1102 22.147L31.4078 12.416C32.418 11.065 34.3439 10.791 35.6939 11.8019L36.1848 12.142C37.5348 13.1529 37.8086 15.0802 36.7985 16.4312L33.5697 20.7299C33.2582 21.1456 32.6634 21.2306 32.2481 20.9188C31.8327 20.6071 31.7477 20.0119 32.0592 19.5962L35.288 15.2975C35.675 14.7779 35.5712 14.041 35.0519 13.6537L34.5705 13.2947C34.0512 12.9073 33.3149 13.0112 32.9278 13.5308L23.7703 25.7465C23.5249 26.0772 23.0811 26.2095 22.6941 26.0678C22.307 25.926 22.0521 25.5481 22.071 25.1324L22.2504 21.6746C22.2976 20.7866 21.6462 20.0213 20.7587 19.9363L20.4283 19.8985C19.5881 19.8229 18.814 20.3709 18.6346 21.2117C18.5779 21.6274 17.9643 25.8599 17.3129 27.3148C14.509 33.6636 15.944 37.1592 15.9629 37.197C16.095 37.5087 16.0573 37.8867 15.8496 38.1606L3.85047 53.6546C3.6711 53.9003 3.38788 54.0231 3.10466 54.0231Z" fill="#3E2027" />
              <path d="M20.3716 56.6401C20.1734 56.6401 19.9751 56.5834 19.8052 56.4512C19.3898 56.1394 19.3049 55.5442 19.6164 55.1285L26.4137 46.0683C26.5081 45.9455 26.6308 45.8416 26.7724 45.7754L29.3969 44.5472C30.9075 43.8387 32.2386 42.7616 33.2393 41.4201L41.3488 30.6121C41.7359 30.0925 41.6321 29.3556 41.1128 28.9682C40.5936 28.5809 39.8572 28.6848 39.4702 29.2044L37.3177 32.0765C37.0061 32.4921 36.4114 32.5772 35.996 32.2654C35.5806 31.9536 35.4956 31.3584 35.8072 30.9427L37.9596 28.0707C38.9698 26.7197 40.8957 26.4457 42.2457 27.4566C43.5957 28.4675 43.8695 30.3948 42.8594 31.7458L34.7498 42.5538C33.5603 44.141 31.9837 45.4164 30.19 46.2572L27.7826 47.3815L21.1269 56.2528C20.9475 56.5079 20.6643 56.6401 20.3716 56.6401Z" fill="#3E2027" />
              <path d="M38.3373 30.0924C38.139 30.0924 37.9407 30.0357 37.7708 29.9035C37.3554 29.5917 37.2705 28.9965 37.582 28.5808L40.8674 24.2066C41.2544 23.687 41.1506 22.9501 40.6313 22.5627L40.1782 22.2226C39.6589 21.8353 38.9226 21.9392 38.5355 22.4588L34.7026 27.5699C34.391 27.9856 33.7963 28.0706 33.3809 27.7589C32.9655 27.4471 32.8805 26.8519 33.1921 26.4362L37.025 21.3251C38.0351 19.9741 39.9611 19.7001 41.3111 20.711L41.7737 21.0511C43.1237 22.062 43.3975 23.9893 42.3873 25.3403L39.1019 29.7145C38.9131 29.9602 38.6299 30.0924 38.3373 30.0924Z" fill="#3E2027" />
              <path d="M35.9772 25.2364C35.7789 25.2364 35.5807 25.1797 35.4108 25.0474C34.9954 24.7356 34.9104 24.1404 35.2219 23.7248L40.9902 16.0344C41.3773 15.5148 41.2734 14.7779 40.7542 14.3906L40.1311 13.9276C39.8762 13.7387 39.5741 13.6631 39.2626 13.7009C38.951 13.7481 38.6772 13.9087 38.4884 14.1544L31.4646 23.5169C31.153 23.9326 30.5582 24.0176 30.1429 23.7059C29.7275 23.3941 29.6425 22.7989 29.954 22.3832L36.9779 13.0207C37.4688 12.3688 38.1863 11.9436 38.9982 11.8303C39.8101 11.7169 40.6126 11.9247 41.264 12.416L41.8871 12.8789C43.2371 13.8898 43.5109 15.8171 42.5007 17.1681L36.7325 24.8585C36.5531 25.1041 36.2699 25.2364 35.9772 25.2364Z" fill="#3E2027" />
              <path d="M32.5206 51.84C30.5148 51.84 28.0548 51.2927 24.9514 50.0472C24.4689 49.8491 24.2324 49.3018 24.4311 48.8206C24.6298 48.3394 25.1785 48.1035 25.6611 48.3016C34.1101 51.6985 36.5796 49.3962 38.3962 46.0276C38.4908 45.8483 41.3198 39.7057 41.4144 39.517C41.6509 39.0546 42.2186 38.8659 42.6822 39.1018C43.1458 39.3377 43.3351 39.9038 43.0985 40.3662C43.0228 40.5171 40.2128 46.6221 40.1276 46.773C38.4813 49.8208 36.343 51.84 32.5111 51.84H32.5206Z" fill="#3E2027" />
              <path d="M21.2227 20.04C21.0622 20.04 20.9017 20.0021 20.7506 19.9074C20.2974 19.6423 20.1464 19.0647 20.4107 18.6102C21.0244 17.5497 21.4304 16.3377 21.6759 14.9079C22.5257 9.71903 25.6697 5.50542 29.8807 3.91467C33.8745 2.40913 38.3971 3.44123 42.6364 6.83105C44.8457 8.74374 47.3194 11.0257 47.4138 11.1015C47.8198 11.4329 47.8765 12.0294 47.546 12.4366C47.2156 12.8437 46.6207 12.9005 46.2148 12.5691C46.1203 12.4934 42.7308 9.16037 41.4373 8.29871C37.6889 5.31605 33.9217 4.40705 30.5322 5.6948C27.001 7.0299 24.244 10.7701 23.517 15.2204C23.2432 16.8869 22.7523 18.3167 22.0252 19.5666C21.8553 19.8696 21.5343 20.04 21.2133 20.04H21.2227Z" fill="#3E2027" />
              <path d="M42.2273 40.68C41.7066 40.68 41.2806 40.2642 41.2806 39.7443C41.2806 39.6025 41.3185 39.4418 41.3753 39.3095C42.5492 36.956 43.7514 35.1601 45.1714 33.6478C54.1173 24.073 52.1577 18.4207 46.0897 12.4092C45.7205 12.0406 45.7205 11.4451 46.0897 11.0765C46.4589 10.7079 47.0552 10.7079 47.4244 11.0765C53.1991 16.8139 57.0993 23.676 46.5535 34.9522C45.2661 36.3227 44.1679 37.9673 43.0888 40.1318C42.9373 40.4438 42.606 40.68 42.2273 40.68Z" fill="#3E2027" />
              <path d="M10.6648 44.2799C10.5143 44.2799 10.3638 44.242 10.2227 44.1662C10.0817 44.0904 6.68649 42.2332 5.91529 38.4808C5.3604 35.7898 6.30089 32.8807 8.69915 29.8485C10.9657 26.9869 13.3076 25.177 15.3673 23.5756C15.8281 23.2156 16.2795 22.8744 16.7122 22.5238C17.1166 22.2017 17.7091 22.268 18.0383 22.6754C18.358 23.0829 18.2922 23.6799 17.8878 24.0115C17.4457 24.3621 16.9849 24.7222 16.5147 25.0823C14.5396 26.6173 12.2918 28.3514 10.1757 31.033C8.13485 33.6009 7.32603 35.9793 7.75866 38.1018C8.35117 40.9919 11.0786 42.4796 11.1068 42.489C11.5677 42.7354 11.7369 43.304 11.4924 43.7683C11.3325 44.0999 11.0034 44.2799 10.6648 44.2799Z" fill="#3E2027" />
              <path d="M16.2106 14.2433H14.5868C13.9826 14.2433 13.5011 13.752 13.5011 13.1568C13.5011 12.5616 13.992 12.0703 14.5868 12.0703H16.2106C16.8148 12.0703 17.2963 12.5616 17.2963 13.1568C17.2963 13.752 16.8053 14.2433 16.2106 14.2433Z" fill="#3E2027" />
              <path d="M7.68565 12.0703H9.30945C9.91366 12.0703 10.3951 12.5616 10.3951 13.1568C10.3951 13.752 9.90422 14.2433 9.30945 14.2433H7.68565C7.08145 14.2433 6.59998 13.752 6.59998 13.1568C6.59998 12.5616 7.09089 12.0703 7.68565 12.0703Z" fill="#3E2027" />
              <path d="M54.6106 43.453H53.3468C52.7426 43.453 52.2611 42.9617 52.2611 42.3665C52.2611 41.7713 52.752 41.28 53.3468 41.28H54.6106C55.2148 41.28 55.6963 41.7713 55.6963 42.3665C55.6963 42.9617 55.2053 43.453 54.6106 43.453Z" fill="#3E2027" />
              <path d="M47.4056 41.28H48.6694C49.2736 41.28 49.7551 41.7713 49.7551 42.3665C49.7551 42.9617 49.2642 43.453 48.6694 43.453H47.4056C46.8014 43.453 46.3199 42.9617 46.3199 42.3665C46.3199 41.7713 46.8109 41.28 47.4056 41.28Z" fill="#3E2027" />
              <path d="M10.8672 17.4176V15.7926C10.8672 15.188 11.3581 14.7062 11.9529 14.7062C12.5476 14.7062 13.0385 15.1974 13.0385 15.7926V17.4176C13.0385 18.0223 12.5476 18.5041 11.9529 18.5041C11.3581 18.5041 10.8672 18.0128 10.8672 17.4176Z" fill="#3E2027" />
              <path d="M13.0385 8.88652V10.5115C13.0385 11.1161 12.5476 11.598 11.9529 11.598C11.3581 11.598 10.8672 11.1067 10.8672 10.5115V8.88652C10.8672 8.28187 11.3581 7.80005 11.9529 7.80005C12.5476 7.80005 13.0385 8.29132 13.0385 8.88652Z" fill="#3E2027" />
              <path d="M49.92 45.9777V44.7127C49.92 44.108 50.411 43.6262 51.0057 43.6262C51.6005 43.6262 52.0914 44.1175 52.0914 44.7127V45.9777C52.0914 46.5823 51.6005 47.0641 51.0057 47.0641C50.411 47.0641 49.92 46.5729 49.92 45.9777Z" fill="#3E2027" />
              <path d="M52.0914 38.7664V40.0314C52.0914 40.636 51.6005 41.1179 51.0057 41.1179C50.411 41.1179 49.92 40.6266 49.92 40.0314V38.7664C49.92 38.1618 50.411 37.6799 51.0057 37.6799C51.6005 37.6799 52.0914 38.1712 52.0914 38.7664Z" fill="#3E2027" />
            </svg>
          </div>
          <p class="product-details__step-label">{{ 'sections.product_details.step_wipe' | t }}</p>
        </div>

        <div class="product-details__step">
          <div class="product-details__step-icon">
            <svg
              width="60"
              height="60"
              viewBox="0 0 60 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_399_3281)">
                <path d="M30.9371 15.9375C30.4194 15.9375 30 16.357 30 16.875V17.8125C30 18.3305 30.4194 18.75 30.9371 18.75C31.4549 18.75 31.8743 18.3305 31.8743 17.8125V16.875C31.8743 16.357 31.4549 15.9375 30.9371 15.9375Z" fill="#3E2027" />
                <path d="M23.44 15.9375C22.9222 15.9375 22.5028 16.357 22.5028 16.875V17.8125C22.5028 18.3305 22.9222 18.75 23.44 18.75C23.9577 18.75 24.3771 18.3305 24.3771 17.8125V16.875C24.3771 16.357 23.9577 15.9375 23.44 15.9375Z" fill="#3E2027" />
                <path d="M49.6179 7.66758C49.1891 5.37773 47.1801 3.72656 44.8513 3.75H43.2582C40.9364 3.72773 38.9309 5.36953 38.4951 7.65117C38.2327 9.21211 38.7763 10.7988 39.9407 11.8699C40.1574 12.0527 40.2909 12.3164 40.3085 12.6V22.7121C40.3155 25.9219 37.9938 28.6617 34.8274 29.1809L32.0289 29.6496C31.5181 29.7352 31.0355 29.3906 30.95 28.8797C30.9418 28.8281 30.9371 28.7766 30.9371 28.7238V27.3363C34.1679 25.923 36.3175 22.8281 36.5412 19.3406C36.5541 19.1449 36.5599 9.375 36.5599 9.375C36.5599 4.19766 32.3639 0 27.1885 0C22.0131 0 17.8171 4.19766 17.8171 9.375C17.8171 9.375 17.8229 19.1016 17.8323 19.2762C18.0326 22.7895 20.1892 25.916 23.4399 27.3375V29.0637C23.4399 29.5816 23.0206 30.0012 22.5028 30.0012H18.7542C14.0978 30.0059 10.3246 33.7805 10.3199 38.4387V45.9387C10.3258 49.5105 12.5773 52.691 15.9428 53.884V59.0637C15.9428 59.5816 16.3622 60.0012 16.8799 60.0012H37.4971C38.0149 60.0012 38.4342 59.5816 38.4342 59.0637V54.3762H39.3714C40.9235 54.3762 42.1828 53.1164 42.1828 51.5637V47.8137C42.1805 47.018 41.8396 46.2609 41.2457 45.7324V41.2512C41.2457 39.1805 39.567 37.5012 37.4971 37.5012C35.4272 37.5012 33.7485 39.1805 33.7485 41.2512V45.7277C33.3983 46.0395 33.1312 46.4344 32.9719 46.8762H17.8171V38.4387C17.8171 37.9207 17.3977 37.5012 16.8799 37.5012C16.3622 37.5012 15.9428 37.9207 15.9428 38.4387V47.8137C15.9428 48.3316 16.3622 48.7512 16.8799 48.7512H33.7485C34.2663 48.7512 34.6857 48.3316 34.6857 47.8137C34.6857 47.2957 35.105 46.8762 35.6228 46.8762H39.3714C39.8891 46.8762 40.3085 47.2957 40.3085 47.8137V51.5637C40.3085 52.0816 39.8891 52.5012 39.3714 52.5012H18.7542C15.1333 52.4965 12.1989 49.5609 12.1942 45.9387V38.4387C12.1989 34.8164 15.1333 31.8809 18.7542 31.8762H22.5028C24.0549 31.8762 25.3142 30.6164 25.3142 29.0637V27.9387C26.5513 28.1918 27.8258 28.1918 29.0628 27.9387V28.7273C29.0628 30.2801 30.3221 31.5398 31.8742 31.5398C32.0289 31.5398 32.1835 31.527 32.3358 31.5012L35.1343 31.0324C39.2062 30.3656 42.1922 26.8406 42.1828 22.7133V12.6012C42.1734 11.7914 41.8208 11.0227 41.214 10.4871C40.51 9.84844 40.1832 8.89219 40.3483 7.95586C40.6307 6.57773 41.8571 5.59687 43.2629 5.62617H44.856C46.2676 5.59687 47.4964 6.58477 47.7717 7.96992C47.9322 8.90273 47.6053 9.85195 46.906 10.4895C46.2957 11.025 45.9419 11.7949 45.9325 12.607V26.6695C45.9325 30.4336 43.5534 33.7852 40.0016 35.025C39.5131 35.1949 39.2542 35.7293 39.4253 36.2191C39.5951 36.7078 40.1293 36.9668 40.6189 36.7957C44.9251 35.291 47.8092 31.227 47.808 26.6637V12.6059C47.8221 12.3199 47.9544 12.0527 48.1711 11.8664C49.3297 10.8 49.8744 9.22266 49.6202 7.66875L49.6179 7.66758ZM37.4971 39.375C38.5326 39.375 39.3714 40.2141 39.3714 41.25H35.6228C35.6228 40.2141 36.4615 39.375 37.4971 39.375ZM35.6228 45V43.125H39.3714V45H35.6228ZM36.5599 54.375V58.125H17.8171V54.375H36.5599ZM19.6914 18.75V15H28.2873C29.0335 15.0023 29.7493 14.7059 30.2752 14.1762L31.6001 12.8508C31.9597 12.4781 31.9492 11.8852 31.5767 11.5254C31.2135 11.175 30.6372 11.175 30.2741 11.5254L28.9492 12.8508C28.7735 13.0254 28.5345 13.125 28.2861 13.125H19.6902V9.375C19.6902 5.23242 23.0463 1.875 27.1873 1.875C31.3283 1.875 34.6845 5.23242 34.6845 9.375V13.125H33.5857C33.4521 13.125 33.3198 13.0957 33.1979 13.0406C32.7223 12.8367 32.1718 13.057 31.9679 13.534C31.7711 13.9945 31.9715 14.5301 32.4225 14.7469C32.7879 14.9145 33.1851 15 33.5869 15H34.6857V18.75C34.6857 22.8926 31.3295 26.25 27.1885 26.25C23.0475 26.25 19.6914 22.8926 19.6914 18.75Z" fill="#3E2027" />
                <path d="M18.335 31.8914C17.2596 31.8914 12.7074 31.6664 10.5801 27.9703C10.4618 27.7641 10.4313 27.518 10.4969 27.2883C10.5625 27.0598 10.7195 26.8664 10.9292 26.7551C13.7781 25.2446 15.8164 22.6957 16.9902 19.1801C17.884 16.5012 17.9109 14.2406 17.9109 14.2184C17.9144 13.7356 18.3069 13.3453 18.7895 13.3453H18.7953C19.2803 13.3489 19.6704 13.7426 19.6681 14.2278C19.6681 14.3297 19.6446 16.7461 18.6747 19.6805C17.4939 23.2559 15.4052 26.0485 12.6043 27.8133C14.645 30.2531 18.4381 30.1313 18.4802 30.1313C18.9664 30.1125 19.374 30.4875 19.3939 30.9727C19.4139 31.4567 19.0402 31.8656 18.5564 31.8879C18.5329 31.8879 18.4556 31.8914 18.3326 31.8914H18.335Z" fill="#3E2027" />
                <path d="M40.4772 26.509C40.2629 26.509 40.0473 26.4305 39.8775 26.2723C34.9118 21.6281 34.8192 14.5289 34.8169 14.2289C34.8146 13.7438 35.2058 13.3477 35.6908 13.3453H35.6955C36.1781 13.3453 36.5705 13.7356 36.574 14.2196C36.574 14.3063 36.6818 20.877 41.077 24.9879C41.432 25.3196 41.4507 25.875 41.1192 26.2301C40.9458 26.4153 40.7115 26.509 40.4772 26.509Z" fill="#3E2027" />
              </g>
              <defs>
                <clipPath id="clip0_399_3281">
                  <rect
                    width="60"
                    height="60"
                    fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <p class="product-details__step-label">{{ 'sections.product_details.step_apply_deo' | t }}</p>
        </div>

        <div class="product-details__step">
          <div class="product-details__step-icon">
            <svg
              width="60"
              height="60"
              viewBox="0 0 60 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M58.029 15.414L43.0191 7.09141C42.873 7.01047 42.7087 6.96804 42.5416 6.9681H37.203C37.0736 6.96802 36.9453 6.99349 36.8257 7.04304C36.7061 7.09259 36.5974 7.16525 36.5059 7.25687C36.4143 7.34849 36.3417 7.45727 36.2922 7.57699C36.2427 7.69671 36.2172 7.82502 36.2173 7.95459C35.9939 14.8694 25.9898 14.8526 25.773 7.95448C25.7731 7.82492 25.7476 7.69662 25.6981 7.57691C25.6486 7.4572 25.576 7.34843 25.4844 7.25682C25.3929 7.16522 25.2842 7.09256 25.1646 7.04302C25.045 6.99348 24.9168 6.96802 24.7873 6.9681C24.5896 6.99906 18.8452 6.85564 18.8557 7.09132L3.84575 15.414C3.63975 15.5282 3.48138 15.7123 3.39928 15.9332C3.31718 16.1541 3.31677 16.3971 3.39813 16.6182L7.74141 28.4176C7.82782 28.6506 7.9987 28.8425 8.22005 28.9551C8.4414 29.0678 8.697 29.0929 8.93602 29.0255L14.3748 27.4809V52.0463C14.3747 52.1758 14.4001 52.3041 14.4496 52.4239C14.4991 52.5436 14.5718 52.6524 14.6633 52.744C14.7548 52.8356 14.8635 52.9083 14.9832 52.9578C15.1028 53.0074 15.231 53.0328 15.3605 53.0328H46.6298C46.7593 53.0328 46.8875 53.0074 47.0071 52.9578C47.1268 52.9083 47.2355 52.8356 47.327 52.744C47.4186 52.6524 47.4912 52.5436 47.5407 52.4239C47.5902 52.3041 47.6156 52.1758 47.6155 52.0463V27.5152L52.9397 29.0255C53.1786 29.0928 53.434 29.0676 53.6552 28.9549C53.8763 28.8423 54.047 28.6505 54.1334 28.4177L58.4767 16.6183C58.558 16.3971 58.5576 16.1541 58.4755 15.9332C58.3934 15.7123 58.2351 15.5282 58.029 15.414ZM52.599 26.8782L46.8984 25.2616C46.7209 25.2195 46.5354 25.2248 46.3605 25.2769C46.1856 25.329 46.0275 25.4262 45.9018 25.5586C45.7493 25.7432 45.659 25.9715 45.6441 26.2106V51.0598H16.3462V26.1758C16.3376 25.9949 16.2819 25.8193 16.1845 25.6666C16.0724 25.4869 15.9062 25.3475 15.7098 25.2685C15.5134 25.1895 15.297 25.1749 15.0919 25.2269L9.27581 26.8782L5.53997 16.73L19.5883 8.94113H23.8773C25.147 17.1655 36.8503 17.1497 38.1132 8.94099L42.2867 8.94113L56.335 16.73L52.599 26.8782Z" fill="#3E2027" />
              <path d="M46.4946 19.4616C45.4736 19.1239 44.5605 18.5213 43.8486 17.7151C43.1366 16.9089 42.6513 15.9282 42.4423 14.873L42.0765 13.0233C42.0285 12.8 41.9049 12.6002 41.7266 12.4575C41.5484 12.3148 41.3264 12.238 41.0981 12.24C40.8698 12.2421 40.6492 12.3229 40.4735 12.4687C40.2978 12.6146 40.1779 12.8166 40.1338 13.0407L39.796 14.9261C39.6102 15.983 39.1325 16.9669 38.4172 17.7667C37.7018 18.5664 36.7771 19.1501 35.7475 19.4519C35.541 19.5131 35.3601 19.6401 35.2324 19.8136C35.1047 19.9872 35.0372 20.1977 35.0401 20.4132C35.0431 20.6286 35.1163 20.8372 35.2487 21.0072C35.3812 21.1772 35.5655 21.2992 35.7736 21.3547C36.7691 21.624 37.6687 22.1683 38.3695 22.9251C39.0702 23.6819 39.5439 24.6208 39.7362 25.6343L40.1348 27.766C40.1803 27.9894 40.3013 28.1903 40.4775 28.3349C40.6536 28.4795 40.8742 28.559 41.1021 28.56C41.33 28.561 41.5513 28.4835 41.7288 28.3404C41.9062 28.1974 42.029 27.9976 42.0765 27.7746L42.4703 25.7685C42.6711 24.7368 43.1498 23.7795 43.8548 23.0001C44.5598 22.2207 45.4643 21.6487 46.4705 21.346C46.6687 21.2823 46.8419 21.1579 46.9656 20.9904C47.0893 20.8229 47.1573 20.6207 47.16 20.4125C47.1626 20.2042 47.0998 20.0004 46.9805 19.8298C46.8611 19.6592 46.6911 19.5304 46.4946 19.4616ZM41.1336 23.553C40.5386 22.2567 39.5869 21.1567 38.3899 20.3816C39.5884 19.5921 40.5422 18.4829 41.1433 17.1793C41.7653 18.4721 42.7203 19.5757 43.9102 20.3768C42.7084 21.1577 41.7471 22.2574 41.1336 23.553Z" fill="#3E2027" />
              <path d="M56.693 36.0241C56.0917 35.8251 55.5539 35.4696 55.1346 34.9939C54.7153 34.5183 54.4295 33.9397 54.3064 33.3171L54.0697 32.119C54.0191 31.8953 53.8953 31.695 53.7178 31.5502C53.5404 31.4053 53.3197 31.3243 53.0909 31.3199C52.0251 31.3182 52.0694 32.6172 51.9073 33.3578C51.7986 33.9786 51.5187 34.5566 51.0993 35.0262C50.6799 35.4959 50.1378 35.8385 49.5342 36.0154C49.3306 36.0801 49.1532 36.2088 49.0282 36.3825C48.9032 36.5561 48.8372 36.7655 48.8402 36.9796C48.8431 37.1937 48.9147 37.4012 49.0444 37.5714C49.1741 37.7415 49.355 37.8653 49.5604 37.9244C50.1403 38.0814 50.6644 38.399 51.0726 38.8408C51.4809 39.2825 51.7567 39.8306 51.8686 40.4222L52.1266 41.8034C52.1722 42.0275 52.2933 42.229 52.4697 42.3741C52.6461 42.5192 52.8669 42.5989 53.0951 42.5999C53.3233 42.601 53.5448 42.5232 53.7225 42.3797C53.9002 42.2362 54.0231 42.0357 54.0706 41.812L54.3248 40.5133C54.4425 39.9072 54.7232 39.345 55.1365 38.8872C55.5497 38.4294 56.0799 38.0935 56.6698 37.9157C56.8683 37.8516 57.0417 37.7267 57.1656 37.5584C57.2894 37.3902 57.3574 37.1873 57.36 36.9782C57.3626 36.7692 57.2996 36.5646 57.1799 36.3934C57.0602 36.2222 56.8899 36.093 56.693 36.0241ZM53.1208 38.2769C52.8057 37.7712 52.4063 37.3233 51.9401 36.9529C52.409 36.5758 52.8108 36.122 53.1286 35.6105C53.4507 36.1173 53.8523 36.5686 54.318 36.9471C53.8474 37.3199 53.4427 37.7695 53.1208 38.2769Z" fill="#3E2027" />
              <path d="M34.6294 26.4636C34.5816 26.2404 34.4583 26.0406 34.2801 25.8978C34.102 25.7551 33.8801 25.6782 33.6518 25.6801C33.4235 25.682 33.2029 25.7627 33.0272 25.9084C32.8516 26.0542 32.7316 26.2561 32.6876 26.48L32.4542 27.7829C32.3357 28.4579 32.0305 29.0864 31.5733 29.5972C31.1161 30.1079 30.5251 30.4806 29.8671 30.6731C29.6606 30.7342 29.4798 30.8611 29.3522 31.0344C29.2245 31.2078 29.1571 31.4181 29.16 31.6333C29.163 31.8485 29.2362 32.0569 29.3685 32.2267C29.5009 32.3965 29.6851 32.5184 29.8931 32.5738C30.5262 32.7448 31.0983 33.0906 31.5439 33.5715C31.9895 34.0525 32.2906 34.6492 32.4127 35.2933L32.6886 36.7669C32.7341 36.99 32.855 37.1907 33.0311 37.3352C33.2072 37.4796 33.4277 37.559 33.6555 37.56C33.8833 37.5611 34.1045 37.4836 34.2818 37.3407C34.4592 37.1978 34.5819 36.9983 34.6294 36.7755L34.9014 35.3888C35.0301 34.7301 35.3362 34.1191 35.7867 33.6215C36.2371 33.1239 36.8149 32.7587 37.4577 32.5651C37.6588 32.5044 37.8352 32.3812 37.9615 32.2134C38.0878 32.0456 38.1573 31.8419 38.1598 31.6319C38.1624 31.4219 38.098 31.2166 37.9759 31.0457C37.8538 30.8749 37.6803 30.7474 37.4808 30.6817C36.8261 30.4658 36.2404 30.0799 35.7838 29.5634C35.3272 29.047 35.016 28.4185 34.8821 27.7423L34.6294 26.4636ZM33.6821 33.1524C33.3252 32.5548 32.8585 32.03 32.3066 31.6056C32.8617 31.1748 33.3309 30.6435 33.6899 30.0395C34.0556 30.638 34.5254 31.1664 35.077 31.5998C34.5195 32.0262 34.0465 32.5527 33.6821 33.1524Z" fill="#3E2027" />
            </svg>
          </div>
          <p class="product-details__step-label">{{ 'sections.product_details.step_stay_fresh' | t }}</p>
        </div>
      </div>
    </div>

    {%- comment -%} Right Column - Image {%- endcomment -%}
    {% if section.settings.product_image %}
      <div class="product-details__image">
        <svg
          class="product-details__mask-svg"
          width="0"
          height="0">
          <defs>
            <clipPath id="product-details-mask-{{ section.id }}" clipPathUnits="objectBoundingBox">
              <path d="M0.841,0.181 C0.918,0.211,0.973,0.286,0.99,0.374 C1.007,0.461,0.987,0.554,0.935,0.627 C0.883,0.701,0.803,0.748,0.715,0.758 C0.626,0.769,0.537,0.743,0.468,0.686 L0.159,0.433 C0.082,0.37,0.032,0.278,0.019,0.177 C0.006,0.076,0.032,-0.025,0.091,-0.109 C0.151,-0.193,0.239,-0.253,0.34,-0.277 C0.441,-0.301,0.547,-0.288,0.638,-0.24 L0.841,0.181 Z" />
            </clipPath>
          </defs>
        </svg>
        {{ section.settings.product_image | image_url: width: 2000 | image_tag: class: 'product-details__img', loading: 'lazy' }}
      </div>
    {% endif %}
  </div>
</div>

{% stylesheet %}
  .product-details {
    background-color: #FFF7EA;
    padding: 40px 0 60px;
  }

  .product-details__container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    min-height: 700px;
  }

  /* Left Column - Content */
  .product-details__content {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }

  .product-details__heading {
    font-family: var(--font-alyona);
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    color: #3E2027;
    margin: 0;
    max-width: 601px;
  }

  .product-details__second-heading {
    font-family: var(--font-alyona);
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    color: #3E2027;
    margin: 0;
    max-width: 601px;
  }

  .product-details__description {
    font-family: var(--font-jokker);
    font-size: 18px;
    line-height: 1.5;
    color: #3E2027;
    max-width: 578px;
    margin-top: auto;
  }

  .product-details__description p {
    margin: 0;
  }

  .product-details__steps {
    display: flex;
    gap: 70px;
    align-items: center;
  }

  .product-details__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .product-details__step-icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
  }

  .product-details__step-icon svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  .product-details__step-label {
    font-family: var(--font-sweet-sans);
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    color: #3E2027;
    text-align: center;
    margin: 0;
    white-space: nowrap;
  }

  /* Right Column - Image */
  .product-details__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .product-details__mask-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  .product-details__img {
    width: 90%;
    height: auto;
    display: block;
    clip-path: url('#product-details-mask-{{ section.id }}');
  }

  /* Responsive */
  @media (max-width: 1024px) {
    .product-details__container {
      gap: 60px;
      padding: 0 24px;
    }

    .product-details__heading {
      font-size: 36px;
    }

    .product-details__description {
      font-size: 16px;
    }

    .product-details__steps {
      gap: 50px;
    }
  }

  @media (max-width: 768px) {
    .product-details {
      padding: 30px 0 40px;
    }

    .product-details__container {
      grid-template-columns: 1fr;
      gap: 40px;
      padding: 0 12px;
      min-height: auto;
    }

    .product-details__content {
      gap: 35px;
    }

    .product-details__heading {
      font-size: 34px;
      max-width: 100%;
      line-height: 1.1;
    }

    .product-details__second-heading {
      font-size: 30px;
      max-width: 100%;
      line-height: 1.1;
    }

    .product-details__description {
      font-size: 14px;
      max-width: 100%;
      line-height: 1.4;
      margin-top: 0;
    }

    .product-details__steps {
      gap: 25px;
      flex-wrap: nowrap;
      justify-content: center;
      margin-top: 8px;
    }

    .product-details__step {
      gap: 8px;
    }

    .product-details__step-icon {
      width: 50px;
      height: 50px;
    }

    .product-details__step-label {
      font-size: 14px;
    }

    /* Image stays at BOTTOM on mobile */
    .product-details__image {
      width: 100%;
      max-width: 480px;
      margin: 35px auto;
    }

    .product-details__img {
      width: 100%;
    }
  }

  /* Tablet layout (768px only) - Icons vertical next to image */
  @media (min-width: 481px) and (max-width: 768px) {
    .product-details__container {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    /* Content section (heading and description) */
    .product-details__content {
      gap: 25px;
    }

    /* Create a horizontal layout for steps + image */
    .product-details__container {
      position: relative;
    }

    /* Steps become vertical column */
    .product-details__steps {
      flex-direction: column;
      gap: 30px;
      margin-top: 0;
      position: absolute;
      left: 110px;
      bottom: 0;
      align-items: center;
      justify-content: center;
      height: 480px;
    }

    /* Image positioned to the right, with left padding for icons */
    .product-details__image {
      margin: 0 0 0 auto;
      max-width: calc(100% - 100px);
      padding-left: 100px;
      justify-content: flex-end;
    }

    .product-details__img {
      width: 100%;
      max-width: 450px;
    }
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "t:general.product_details",
    "class": "product-details-section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.product_details.content_header"
      },
      {
        "type": "textarea",
        "id": "heading",
        "label": "t:labels.heading",
        "default": "Not a deodorant."
      },
      {
        "type": "textarea",
        "id": "second_heading",
        "label": "t:labels.second_heading",
        "default": "The step your deodorant's been missing."
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "t:labels.description",
        "default": "<p>Baudie is the first pre-deodorant spray powered by odor-eliminating bacterial technology. It targets the real cause of body odor — the bacteria that make sweat smell — using gentle AHAs to create a slightly acidic environment where they can't survive. The wipe-off formula cleanses and resets your skin, while plant-powered actives support a balanced microbiome. The result is science-backed freshness that lasts longer and makes your deodorant work better.</p>"
      }, {
        "type": "header",
        "content": "t:sections.product_details.image_header"
      }, {
        "type": "image_picker",
        "id": "product_image",
        "label": "t:labels.product_image"
      }
    ],
    "presets": [
      {
        "name": "t:general.product_details"
      }
    ]
  }
{% endschema %}